@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .active{
        @apply bg-[#2AB57D] text-white
    }
}

.rotate-icon {
  transform: rotate(180deg);
}
  
.swiper {
  width: 75rem;
  height: 100%;
}

.swiper-slide {
  margin: 0.5rem !important;
  width: auto !important;
}

.rbc-event {
  border: none;
  background-color: #2AB57D;
}

.rbc-event-content {
  color: white;
}

.rbc-event-label {
  display: none;
}

.rbc-event {
  border: none;
  background-color: #2AB57D;
}

.rbc-event-content {
  color: white;
}

.coverImage {
  background-size: cover;
  background: url('../public/traveler/hero.png') no-repeat center;
}

.custom-swal-modal {
  z-index: 2147483647 !important;
}

.parent-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Ensure the parent div takes full height */
}

.swal-overlay {
  z-index: 2147483647; /* Set a high z-index value */
}

.custom-swal-container {
  z-index: 2147483647; /* Set a high z-index value */
}
/* Add this CSS to your stylesheets */
.pac-container {
  z-index: 2147483647; /* Set a high z-index value */
}
.custom-popover {
  z-index: 2147483647;
}



